.icon {
  font-size: 20px;
}

.label {
  font-size: 14px;
  margin-left: 5px;
  color: var(--white);
}

.listItem {
  display: flex;
  background-color: var(--secondary);
}

.listIcon {
  min-width: 30px;
}
